body {
    color: black;
    font-weight: 400;
  }
  body {
    color: black;
    font-weight: 400;
  }
  h1 {
    color: blue;
  }
  
  .app {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: auto;
  }
  
  h1 {
    color: blue;
  }
  
  .app {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: auto;
  }
  