.formulaire {
    position: relative;
    height: 20vh; /* Hauteur de la fenêtre */
  }
  
  .formulaire {
    position: absolute;
    top: 37%; /* Centre verticalement */
    left: 31%; /* Centre horizontalement */
    transform: translate(-70%, -50%); /* Ajuste pour centrer exactement */
  }